<!--<h1 class="my-8 text-center text-6xl font-bold"><span class="text-teal-500">TailwindCSS</span> and <span class="text-red-600">Angular Material 15</span> works!</h1>-->
<!--<h2 class="text-center text-2xl">Yet, need some extra config </h2>-->
<!--<div class="flex justify-around my-8">-->
<!--  <button mat-raised-button color="primary">Primary Button</button>-->
<!--  <button mat-raised-button color="accent">Accent Button</button>-->
<!--  <button mat-raised-button color="warn">Warn Button</button>-->
<!--</div>-->
<!--<p class="my-8 text-center text-3xl">Hi, Vandith!</p>-->
<!--<div class="my-8 text-center text-3xl">-->
<!--  <mat-slide-toggle>Toggle Me</mat-slide-toggle>-->
<!--</div>-->
<!--<app-address-form></app-address-form>-->
<!--<router-outlet></router-outlet>-->
<app-nav></app-nav>
<!--<router-outlet></router-outlet>-->
<!--<app-main-shell></app-main-shell>-->
