.test {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}
.koo {
    background: rgba(255, 255, 255, 0.2);
    //backdrop-filter: sepia(90%);
    height: 100vh;
    width: 100%;
}
